
<%= form_with(model: purchase) do |form| %>
  <% if purchase.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% purchase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class=" overflow-hidden p-8 bg-white border border-gray-200 rounded-lg shadow ">
    <div class="mb-5">
      <div class="flex justify-between">
        <div >
          <%= form.label :bill_no, class: "block" %>
          <%= form.text_field :bill_no %>
        </div>
        <div>
          <%= form.label :date, class: "block" %>
          <%= form.date_field :date %>
        </div>
      </div>
    </div class="">
     <div class="flex justify-between ">
       <div class="field">
          <%= form.label :supplier_id, class: "block" %>
          <%= form.collection_select :supplier_id, Supplier.all, :id, :name, prompt: "Select Supplier" %>
        </div>
    
         <div class="field">
          <%= form.label :product_id, class: "block" %>
          <%= form.collection_select :product_id, [], :id, :name, prompt: "Select Product", id: "product_id_field" %>
         </div>

         <div class="field">
          <%= form.label :"Price (per unit)", style: "display: block" %>
          <%= form.text_field :cost_price, id: "cost_price_field", disabled: true, class:"bg-gray-200" %>
        </div>
    
         <div>
          <%= form.label :quantity, style: "display: block" %>
          <%= form.number_field :quantity, id: "purchase_quantity" %>
         </div>
    
         <div>
          <%= form.label :total, style: "display: block" %>
          <%= form.text_field :total, id: "total_field", readonly: true, class: "bg-gray-200"  %>
         </div>
     </div>


<%# bottom section %>
     <div class="flex mt-6">
       <div class="pr-5 w-full h-full">
         <div class="">
          <%= form.text_area :description, class:"block p-2.5 w-full h-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500",rows: 12, placeholder:"Enter Discription" %>
         </div>
       </div>
       <%# discount section  %>
        <div class="">
          <div class="">
            <div>
              <%= form.label :"discount(%)", style: "display: block" %>
              <%= form.text_field :discount, id: "discount_field" %>
            </div>
            <div>
              <%= form.label :taxable_amount, style: "display: block" %>
              <%= form.text_field :taxable_amount, id: "taxAmt_field",readonly: true, class: "bg-gray-200" %>
            </div>
            <div>
              <%= form.label :"vat(%)", style: "display: block" %>
              <%= form.text_field :vat, id: "vatAmt_field", value: 13,readonly: true, class: "bg-gray-200" %>
            </div>
            <div>
              <%= form.label :net_total, style: "display: block" %>
              <%= form.text_field :net_total, id: "netTotal_field", readonly: true, class: "bg-gray-200"  %>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full flex justify-end"><%= form.submit "Submit", class: "btn-submit mt-2 align bg-green-400" %></div>
     </div>

<% end %>
