<div id="<%= dom_id purchase %>">
  <p>
    <strong>Bill no:</strong>
    <%= purchase.bill_no %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= purchase.supplier_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= purchase.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= purchase.quantity %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= purchase.total %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= purchase.discount %>
  </p>

  <p>
    <strong>Taxable amount:</strong>
    <%= purchase.taxable_amount %>
  </p>

  <p>
    <strong>Vat:</strong>
    <%= purchase.vat %>
  </p>

  <p>
    <strong>Net total:</strong>
    <%= purchase.net_total %>
  </p>

  <p>
    <strong>description</strong>
    <%= purchase.description %>
  </p>

  <p>
    <strong>Date</strong>
    <%= purchase.date %>
  </p>

</div>
