<style>
   .report-list {
   display: none;
}
.report-list.active {
   display: block;
}
</style>
<aside id="default-sidebar" class=" left-0 w-[14rem] min-h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50">
      <ul class="space-y-2 font-medium">
         <li>
            <%= link_to root_path, class: "flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group" do %>
               <%= tag.i(class: "fa-solid fa-house") %>
               <span class="ml-3">Dashboard</span>
            <% end %>
         </li>
         <li>
            <%= link_to suppliers_path, class: "flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group" do %>
            <%= tag.i(class: "fa-solid fa-truck") %>
            <span class="flex-1 ml-3 whitespace-nowrap">Supplier</span>
            <% end %>
         </li>
         <li>
            <%= link_to products_path, class: "flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group" do %>
            <%= tag.i(class: "fa-solid fa-boxes-stacked") %>
            <span class="flex-1 ml-3 whitespace-nowrap">Products</span>
            <% end %>
         </li>
         <li>
            <%= link_to new_purchase_path, class: "flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group" do %>
         <%= tag.i(class: "fa-regular fa-money-bill-1") %>
         <span class="flex-1 ml-3 whitespace-nowrap">Purchase</span>
         <% end %>
         </li>
         <li>
            <%= link_to new_sale_path, class: "flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group" do %>
            <%= tag.i(class: "fa-brands fa-sellsy") %>
            <span class="flex-1 ml-3 whitespace-nowrap">Sales</span>
            <% end %>
         </li>

         <li>
            <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group mb-4 report-link">
            <i class="fa-solid fa-chart-pie"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Report<i class="fa-solid fa-angle-down ml-5"></i></span>
            </a>
            <ul class="report-list hidden text-gray-600">
                  <li class="ml-10 text-md"><%= link_to 'Purchase Report', purchases_path %></li>
                  <li class="mt-2 ml-10 text-md"><%= link_to 'Sales Report', sales_path %></li>
            </ul>
         </li>  
      </ul>
   </div>
</aside>



<script>
//for dropdown of report
   $(document).ready(function() {
      $(".report-link").click(function(e) {
         e.preventDefault();
         $(".report-list").toggleClass("active");
      });
   });
</script>





