<aside id="default-sidebar" class=" left-0 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50">
      <ul class="space-y-2 font-medium">
         <li>
            <%= link_to root_path, class: "flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group" do %>
               <%= tag.i(class: "fa-solid fa-house") %>
               <span class="ml-3">Dashboard</span>
            <% end %>
         </li>
         <li>
            <%= link_to suppliers_path, class: "flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group" do %>
            <%= tag.i(class: "fa-solid fa-truck") %>
            <span class="flex-1 ml-3 whitespace-nowrap">Supplier</span>
            <% end %>
         </li>
         <li>
            <%= link_to products_path, class: "flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group" do %>
            <%= tag.i(class: "fa-solid fa-boxes-stacked") %>
            <span class="flex-1 ml-3 whitespace-nowrap">Products</span>
            <% end %>
         </li>
         <li>
            <%= link_to new_purchase_path, class: "flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group" do %>
         <%= tag.i(class: "fa-regular fa-money-bill-1") %>
         <span class="flex-1 ml-3 whitespace-nowrap">Purchase</span>
         <% end %>
         </li>
         <li>
            <%= link_to sales_path, class: "flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group" do %>
            <%= tag.i(class: "fa-brands fa-sellsy") %>
            <span class="flex-1 ml-3 whitespace-nowrap">Sales</span>
            <% end %>
         </li>

         <li>
            <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group mb-4 report-link">
            <i class="fa-solid fa-chart-pie"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Report<i class="fa-solid fa-angle-down ml-5"></i></span>
            
            </a>
            <div class="report-container mt-2"  style="display: none;">
               <div class="flex flex-col gap-4">
                  <div>
                  <span class="p-6"></span>
                  <a href="" >Purchase Report</a>
                  </div>
                  <div>
                  <span class="p-6"></span>
                  <a href="">sales Report</a>
                  </div>
               </div>
            </div>
         </li>  
      </ul>
   </div>
</aside>


<script>
  // Get references to the report links and containers
  const reportLinks = document.querySelectorAll('.report-link');
  const reportContainers = document.querySelectorAll('.report-container');

  // Add click event listeners to the report links
  reportLinks.forEach(function (reportLink) {
    reportLink.addEventListener('click', function (e) {
      e.preventDefault(); // Prevent the default behavior of the anchor tag
      const reportContainer = this.nextElementSibling; // Get the corresponding report container

      // Toggle the display of the report container
      if (reportContainer.style.display === 'none') {
        reportContainer.style.display = 'block';
      } else {
        reportContainer.style.display = 'none';
      }
    });
  });
</script>


