  <%= form_with(model: supplier, id: "supplier-form") do |form| %>
    <div>
      <%= form.label :name, class:"form-label " %>
      <%= form.text_field :name, class: "form-input", id: "supplier_name" %>
      <% if supplier.errors.has_key?(:name) %>
        <div class="error-message text-red-500">
          <%= "Name " +supplier.errors[:name].first %>
        </div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :number, class:"form-label" %>
      <%= form.text_field :number, class: "form-input", id: "supplier_number" %>
      <% if supplier.errors.has_key?(:number) %>
        <div class="error-message text-red-500">
          <%= supplier.errors[:number].first %>
        </div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :address, class:"form-label" %>
      <%= form.text_field :address, class: "form-input", id: "supplier_address" %>
      <% if supplier.errors.has_key?(:address) %>
        <div class="error-message text-red-500">
          <%= supplier.errors[:address].first %>
        </div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :discription, class:"form-label" %>
      <%= form.text_area :discription, class:"form-input scrollbar-hide" %>
    </div>
    <div>
      <%= form.submit class:"btn-submit" %>
    </div>
  <% end %>



