<div id="<%= dom_id sale %>">
  <p>
    <strong>Bill no:</strong>
    <%= sale.bill_no %>
  </p>

  <p>
    <strong>Customer name:</strong>
    <%= sale.customer_name %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= sale.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= sale.quantity %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= sale.total %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= sale.discount %>
  </p>

  <p>
    <strong>Taxable amount:</strong>
    <%= sale.taxable_amount %>
  </p>

  <p>
    <strong>Vat:</strong>
    <%= sale.vat %>
  </p>

  <p>
    <strong>Net total:</strong>
    <%= sale.net_total %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sale.description %>
  </p>

</div>
