<div class="w-[80%] absolute">
    <div class="mt-4">
    <h1 class="mb-4 text-4xl font-bold" >Sales Record</h1>
  </div>
  <div class="relative overflow-x-auto shadow-md">
  <button onclick="printSalesTable()" class=" mb-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Print
      </button>
    <table class="w-full text-md text-left text-gray-700 sales-table-data">
      <thead class="text-lg text-gray-700 uppercase bg-gray-50">
        <tr>
          <th class="px-6 py-3">Sn</th>
          <th class="px-6 py-3">Procuct</th>
          <th class="px-6 py-3">Purchase Quantity</th>
          <th class="px-6 py-3">Sale Quantity</th>
          <th class="px-6 py-3">Remaining Stock</th>
        </tr>
      </thead>
      <tbody>
        <% @report_data.each do |row| %>
          <tr class="bg-white border-b hover:bg-gray-300">
            <td class="px-6 py-3"><%= row['product_name']  %></td>
            <td class="px-6 py-3"><%= row['purchase_quantity'] %></td>
            <td class="px-6 py-3"><%= row['sale_quantity'] %></td>
            <td class="px-6 py-3"><%= row['remaining_stock'] %></td>
            <td class="px-6 py-3"><%= "" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

 <script>
    function printSalesTable() {
      // Open a new window or tab with the sales table content and additional styling
      const printWindow = window.open('', '_blank');
      printWindow.document.write('<html><head><title>Sales Records</title>');

      // Add additional styles
      printWindow.document.write('<style>');
      printWindow.document.write('body { font-family: Arial, sans-serif;padding:50px; }');
      printWindow.document.write('table { width: 100%; border-collapse: collapse; margin-top: 20px; }');
      printWindow.document.write('th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }');
      printWindow.document.write('th { background-color: #f2f2f2; }');
      printWindow.document.write('</style>');

      printWindow.document.write('</head><body>');
      printWindow.document.write(document.querySelector('.sales-table-data').outerHTML);
      printWindow.document.write('</body></html>');
      printWindow.document.close();

      // Trigger the print dialog in the new window or tab
      printWindow.print();
    }
  </script>